In [6]:
# Import libraries and packages
import pandas as pd
from pathlib import Path

# BRFSS Analysis

In [50]:
# Read the data from CSV file
brfss_1_df = pd.read_csv(Path("Resources/2021 BRFSS Survey Data/LLCP2021_1.csv"))
brfss_2_df = pd.read_csv(Path("Resources/2021 BRFSS Survey Data/LLCP2021_2.csv"))
brfss_3_df = pd.read_csv(Path("Resources/2021 BRFSS Survey Data/LLCP2021_3.csv"))
brfss_4_df = pd.read_csv(Path("Resources/2021 BRFSS Survey Data/LLCP2021_4.csv"))
brfss_5_df = pd.read_csv(Path("Resources/2021 BRFSS Survey Data/LLCP2021_5.csv"))

In [51]:
# Concatenate the dataframe
brfss_df = pd.concat([brfss_1_df, brfss_2_df, brfss_3_df, brfss_4_df, brfss_5_df], axis = "rows")

# Display the BRFSS DF
brfss_df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78688,78.0,12.0,b'01062022',b'01',b'06',b'2022',1100.0,b'2021001381',2.021001e+09,NaN,...,1.0,1.0,157.0,393.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
78689,78.0,12.0,b'01122022',b'01',b'12',b'2022',1100.0,b'2021001382',2.021001e+09,NaN,...,1.0,1.0,200.0,157.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
78690,78.0,12.0,b'12212021',b'12',b'21',b'2021',1100.0,b'2021001383',2.021001e+09,NaN,...,1.0,1.0,200.0,143.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
78691,78.0,12.0,b'01112022',b'01',b'11',b'2022',1100.0,b'2021001384',2.021001e+09,NaN,...,1.0,1.0,100.0,156.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
78692,78.0,12.0,b'12222021',b'12',b'22',b'2021',1100.0,b'2021001385',2.021001e+09,NaN,...,1.0,1.0,34.0,66.0,2.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79

## Cleaning and Wrangling the Data

In [ ]:
## Select Features and Label
brfss_X = #
brfss_y = # "CHCCOPD3" column for having chronic obstructive pulmonary disease, emphysema or chronic bronchitis.

In [ ]:
# Remap categorical feature values to their labels based on the documentation

In [ ]:
# Plot the data

## Split Data into Training and Testing Datasets

In [20]:
# Generate training and testing dataframes

## Scale Continous Features and Encode Categorical Features

In [ ]:
# Scale features with StandardScaler

In [ ]:
# Encode with OneHotEncoder

## Fit a Machine Learning Model and Make Predictions

In [ ]:
# Instantiate a ML Classifier and fit the training data

## Evaluate the ML Model

In [ ]:
# Print the classification report

## Fit a Second Machine Learning Model and Make Predictions

In [23]:
# Instantiate a ML Classifier and fit the training data

## Evaluate the Second ML Model

In [24]:
# Print the classification report

## Fit a Third Machine Learning Model and Make Predictions

In [25]:
# Instantiate a ML Classifier and fit the training data

## Evaluate the Third ML Model

In [ ]:
# Print the classification report

## Compare and Choose the best of the Three ML Models

In [ ]:
# Compare all three models

## Optimize the best ML Model

In [ ]:
# Apply dimensionality reduction technique to reduce the input features, or perform feature engineering to generate new features to train the model.

## Fit a Neural Network Model and make Predictions

In [21]:
# Define number of inputs, hidden layers and outputs

In [22]:
# Compile and fit the model

## Evaluate the Neural Network Model

In [ ]:
# Evaluate relevant metrics

## Optimize the Neural Network Model

In [ ]:
# Add hidden layers, transform input features, regularization, dropout layers, etc.

# NHAMCS Analysis

In [ ]:
# Read the data from CSV file
nhamcs_2014_df = pd.read_csv(Path("Resources/2014-2019 NHAMCS Data/data/NHAMCS_cog_2014_CSV.csv"))
nhamcs_2015_df = # Code
nhamcs_2016_df = # Code
nhamcs_2017_df = # Code
nhamcs_2018_df = # Code
nhamcs_2019_df = # Code

In [19]:
# Concatenate all the dataframes
nhamcs_df = # Code
# Display the NHAMCS DF
nhamcs_df

,year,id,hospcode,patcode,region,age,ager,age65,female,racereth,...,cog_dx_code1,cog_dx_code2,cog_dx_code3,cog_dx_code4,cog_dx_code5,settype,cstratm,cpsum,patwt,edwt
0,2014,70,32,38,1,63,4,0,1,2,...,NaN,NaN,NaN,NaN,NaN,3,20114201,100032,2184,NaN
1,2014,126,32,94,1,18,2,0,1,3,...,NaN,NaN,NaN,NaN,NaN,3,20114201,100032,2184,NaN
2,2014,177,32,145,1,58,4,0,1,2,...,NaN,NaN,NaN,NaN,NaN,3,20114201,100032,2184,NaN
3,2014,150,32,118,1,71,5,1,0,2,...,NaN,NaN,NaN,NaN,NaN,3,20114201,100032,2184,NaN
4,2014,79,32,47,1,22,2,0,1,2,...,NaN,NaN,NaN,NaN,NaN,3,20114201,100032,2184,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23839,2014,243,207,36,3,9,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3,40300000,23,7430,NaN
23840,2014,244,207,37,3,30,3,0,1,3,...,NaN,NaN,NaN,NaN,NaN,3,40300000,23,7430,NaN
23841,2014,281,207,74,3,61,4,0,0,3,...,NaN,NaN,NaN,NaN,NaN,3,40300000,23,7430,NaN
23842,2014,209,207,2,3,8,1,0,1,3,...,NaN,NaN,NaN,NaN,NaN,3,40300000,23,7430,NaN
23843,2014,245,207,38,3,46,4,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3,40300000,23,7430,NaN

## Cleaning and Wrangling the Data

In [ ]:
## Select Features and Label
nhamcs_X = #
nhamcs_y = # "alzhd" column (Alzheimer's disease/Dementia, 1=Yes, 0=No)

In [30]:
# Remap categorical feature values to their labels based on the documentation

In [32]:
# Take only the row corresponding to the final visit for each patient

In [31]:
# Plot the data

## Split Data into Training and Testing Datasets

In [33]:
# Generate training and testing dataframes

## Scale Continous Features and Encode Categorical Features

In [ ]:
# Scale features with StandardScaler

In [ ]:
# Encode with OneHotEncoder

## Fit a Machine Learning Model and Make Predictions

In [35]:
# Instantiate a ML Classifier and fit the training data

## Evaluate the ML Model

In [36]:
# Print the classification report

## Fit a Second Machine Learning Model and Make Predictions

In [37]:
# Instantiate a ML Classifier and fit the training data

## Evaluate the Second ML Model

In [ ]:
# Print the classification report

## Fit a Third Machine Learning Model and Make Predictions

In [ ]:
# Instantiate a ML Classifier and fit the training data

## Evaluate the Third ML Model

In [ ]:
# Print the classification report

## Compare and Choose the best of the Three ML Models

In [39]:
# Compare all three models

## Optimize the best ML Model

In [41]:
# Apply dimensionality reduction technique to reduce the input features, or perform feature engineering to generate new features to train the model.

## Fit a Neural Network Model and make Predictions

In [42]:
# Define number of inputs, hidden layers and outputs

In [43]:
# Compile and fit the model

## Evaluate the Neural Network Model

In [ ]:
# Evaluate relevant metrics

## Optimize the Neural Network Model

In [ ]:
# Add hidden layers, transform input features, regularization, dropout layers, etc.